header nav ul li:nth-child(1) {
    border-bottom: none;
}

header nav ul li:nth-child(2) {
    border-bottom: 2px solid deeppink;
}

.banner {
    padding: 10px 0;
}

.text-box .table-box {
    text-align: center;
    float: left;
    margin-right: 1%;
}

.text-box .table-box table {
    display: inline-block;
    width: 294px;
    font-size: 14px;
    border-top: 5px solid deeppink;
    box-shadow: 0 2px 2px 2px lightgrey;
    border-spacing: 10px;
    text-align: left;
}

.text-box table th {
    border-radius: 10px;
}

.text-box table .td-top {
    padding: 10px 2% 10px 2%;
    text-align: center;
}

.text-box table .td-top h2 {
    margin: 0;
}

.text-box table .td-top h3 {
    margin: 0;
    font-style: italic;
    font-weight: normal;
}

.text-box table .td-img {
    text-align: center;
    width: 262px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px lightgrey;
}

.text-box table .td-left {
    padding: 10px 2% 10px 2%;
    vertical-align: top;
    text-align: right;
    box-shadow: 1px 2px 1px 1px lightgrey;
}

/* Псевдораспорка */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 425px) {
    .text-box .table-box {
        float: none;
        margin-right: 0;
    }
}
